<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %> and thank you !</h1>
    <p>
      You are on catshop-io.fr and that's your order :
      - You ordered: <%= @cart %>
      - You paid <%= @amount %> EUR.
    <p>
      You can connect on: <%= @url %>.
    </p>
    <p> See you soon on catshop-io.fr !
  </body>
</html>
