<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1> <%= @user.first_name %> </h1>
  <p>
    Order :
  </p>
  <p>You ordered: <%= @order.item.title %>
    <br>
    This is your image (no picture? find "Show pictures")
    <br>
    <%= image_tag("#{@order.item.image_url}") %>
  </p>

</body>
</html>
